.modal-dialog {
  max-width: 100%;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
}

.dz-progress {
  display: none;
}

.modal-body {
  background-color: rgb(193, 237, 252);
}

#test {
  background-color: rgb(120, 214, 235);
}

.dropzone {
  border: none;
  background-color: rgba(193, 237, 252, 0.8);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.img-fluid {
  height: 30vh !important;
}

#loading {
  height: 38px;
}

.bg-ERROR.active {
  background-image: linear-gradient(rgb(255 255 255/20%) 0 0) !important;
}
